@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Dancing+Script:wght@400;700&family=Geologica:wght@100;400;900&family=Kablammo&display=swap');

/* ###### FONTS & COLORS & UTILS ###### */

:root {


    --cherry_bomb: 'Cherry Bomb One',
        cursive;
    --dancing_script: 'Dancing Script',
        cursive;
    --geologica: 'Geologica',
        sans-serif;
    --kablamo: 'Kablammo',
        cursive;

    --quill_yellow: #FFC000;
    --light_background: #ffc88a;
    --black: #000000;
    --white: #ffffff;

    --box_shadow: .1rem .1rem .4rem var(--black);
    --image_shadow: drop-shadow(.1rem .1rem .4rem var(--black));
}

* {
    font-family: var(--geologica);
}

/* ###### NAVBAR STYLING ###### */

.journee_logo {
    height: 4rem;
    filter: var(--image_shadow);
}

.journee_logo_text {
    font-size: 2.5rem;
}

.navbar {
    background-color: var(--light_background);
    box-shadow: var(--box_shadow);
}

/* ###### BODY ###### */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

.form {
    width: 100%;
    margin: 5% auto;
    box-shadow: var(--box_shadow);
    border-radius: 2rem;
}

/* ###### FOOTER STYLING ###### */

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--black);

}

footer a {
    font-size: 1rem;
    margin: .5rem;
    text-decoration: none;
    color: var(--black);
}

/* ###### JOURNAL PAGE PREVIEW CARDS ###### */

.card {
    height: 95%;
    margin: 1rem;
    box-shadow: var(--box_shadow);
}

.journal_pages {
    text-decoration: none;
    color: var(--black);
}

.journal_pages:hover {
    cursor: pointer;
}