{% load static %}
<header>
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand " href="#"><img class="journee_logo" src="{% static 'images/quill_logo.webp' %}"
                    alt="Journee Logo"><span class="journee_logo_text">Journee</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page"
                            href="{% url 'showcase_journals' %}">Showcase</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Journal
                        </a>
                        <ul class="dropdown-menu">
                            
                            <li><a class="dropdown-item" href="{% url 'add_journal_page' %}">Add Page</a></li>
                            <li><a class="dropdown-item" href="{% url 'journals' %}">View</a></li>
                        </ul>
                        {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% if request.user.account_user.user_id %}
                            <li><a class="dropdown-item" href="{% url 'view_profile' request.user.account_user.id %}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_profile' request.user.account_user.id %}">Edit Profile</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'add_profile' request.user.id %}">Add Profile</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/accounts/logout/">Logout ( {{ request.user|title }} )</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="/accounts/login/">Login</a></li>
                            <li><a class="dropdown-item" href="/accounts/signup/">Create Account</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="GET" action="{% url 'journal_search' %}">
                    <input class="form-control me-2" name="search_query" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% endwith %}
</header>