{% extends "account/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="p-4">Logout</h1>

  <p>{% trans 'Would you like to logout?' %}</p>

  <form class="p-2" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary w-25 mb-2 " type="submit">Yes, Logout</button>
  </form>
</div>

{% endblock %}