{% extends 'core.html'%}
{% load static %}
{% block page_title %} Edit Journal Page {% endblock %}

{% block content %}

<div class="container">
    <form method="POST" enctype="multipart/form-data" class="form">
        <h1 class="text-center">Edit Journal Page </h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
        </div>

    </form>
</div>
{% endblock %}