{% extends 'core.html' %}
{% load static %}


{% block page_title %}Journal{% endblock %}


{% block content %}


<div class="center_screen">
<h1 class="text-center p-2">
    {{ request.user|title }}'s Journal Pages (Total Pages - {{ page_obj.paginator.count }})
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center fade-in">

    {% for journal_page in journals %}
    <a href="{% url 'view_journal_page' journal_page.id %}" class="journal_pages"
        aria-label="Click to view {{ journal_page.journal_date }} {{ journal_page.title }}">
        <div class="card m-2 " style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title text-center"> {{ journal_page.journal_date }}</h2>
                {% if journal_page.day_image %}
                <img src="{{ journal_page.day_image.url }}" class="card-img-top card-day-image" alt="Journal cover image">
                {% else %}
                <img src="{% static 'images/quill_logo.webp' %}" class="card-img-top card-day-image" alt="Journal cover image">
                {% endif %}
                <p class="card-text text-center">{{ journal_page.title }}</p>
            </div>

        </div>
    </a>
    {% endfor %}
    
    <div class="container text-center m-2">
    {% if page_obj.has_other_pages %}
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous Page</a>
    {% else %}
    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary disabled">Previous Page</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Next Page</a>
    {% else %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary disabled">Next Page</a>
    {% endif %}
    {% endif %}
</div>
</div>
</div>
{% endblock %}