{% extends 'core.html'%}
{% load static %}

{% block page_title%} {{ journal_page.journal_date }} {% endblock %}

{% block content %}

<div class="container fade-in">

    <div class="journal_page_view mt-3 p1">
        {% if journal_page.is_public %}
        <span class="material-symbols-outlined visibility_icon">
            visibility
        </span>
        {% else %}
        <span class="material-symbols-outlined visibility_icon">
            visibility_off
        </span>
        {% endif %}
        <h1>{{ journal_page.journal_date }}</h1>
        <h2>{{ journal_page.title }}</h2>



        <div class="views_section">
            <h3>Views - {{ journal_page.views }}</h3>
        </div>
        <span class="hidden">{{ journal_page.addPageView }}</span>
        <div class="journal_day_image">
            {% if journal_page.day_image %}
            <img src="{{ journal_page.day_image.url }}" alt="Photo for this day">
            {% else %}
            <img src="{% static 'images/quill_logo.webp' %}" alt="Photo for this day">
            {% endif %}
        </div>

        <div class="journal_self_image">
            {% if journal_page.self_image %}
            <img class="journal_self_image" src="{{ journal_page.self_image.url }}" alt="Self image for this day">
            {% else %}
            <img class="journal_self_image" src="{% static 'images/quill_logo.webp' %}" alt="Self image for this day">
            {% endif %}
        </div>
        <div class="journal_page_content">
            <p>{{ journal_page.content|safe }}</p>
        </div>
        {% if request.user == journal_page.user %}
        <div class="text-center">
            <a href="{% url 'edit_journal_page' journal_page.id %}" class="btn btn-primary w-25">Edit</a>
            <a href="{% url 'remove_journal_page' journal_page.id %}" class="btn btn-primary w-25">Remove Page</a>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}