{% extends 'core.html'%}
{% load static %}

{% block page_title%} {{ journal_page.journal_date }} {% endblock %}

{% block content %}

<div class="center_screen fade-in container">

    <div class="journal_page_view m-3 p-3">
        <div class="journal-page-info">
            <div>
                {% if journal_page.self_image %}
                <img class="journal_self_image" src="{{ journal_page.self_image.url }}" alt="Self image for this day">
                {% else %}
                <img class="journal_self_image" src="{% static 'images/quill_logo.webp' %}"
                    alt="Self image for this day">
                {% endif %}
            </div>
            <div>
                <h1>{{ journal_page.journal_date }}</h1>
                <h2>{{ journal_page.title }}</h2>
            
                <div class="views_section">
                    <p>Views - {{ journal_page.views }}
                
                {% if journal_page.is_public %}
                (Public)</p>
                {% else %}
                (Private)</p>
                {% endif %}
            </div>
        </div>
    </div>
        <span class="hidden">{{ journal_page.addPageView }}</span>
        <div class="d-flex justify-content-center">
            {% if journal_page.day_image %}
            <img class="journal_day_image" src="{{ journal_page.day_image.url }}" alt="Photo for this day">
            {% else %}
            <img class="journal_day_image" src="{% static 'images/quill_logo.webp' %}" alt="Photo for this day">
            {% endif %}
        </div>

        <div class="journal_page_content">
            {{ journal_page.content|safe }}
        </div>
        {% if request.user == journal_page.user %}
        <div class="text-center">
            <a href="{% url 'edit_journal_page' journal_page.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'remove_journal_page' journal_page.id %}" class="btn btn-primary">Delete</a>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}